# python
__pycache__/
*.pyc
*.pyo
.venv/

# testing & cache
.pytest_cache/
.cache/
*.cache
cache/
pulled_folder/
writeups/

# results / outputs
paper/
# results/
# test_results/
*.log

# secrets
.env

# files
*.pdf
